* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

#container {
	max-width: 1200px;
	margin: 0 auto;

}

.hidden {
	display: none;
}

header {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

header>* {
	position: absolute;

}

.poland_version img,
.england_version img {
	display: none;
}

.logo {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 10px auto;
	height: 75%;
	z-index: -2;
}

a {
	height: 5vh;
	right: 10px;
	top: 15px;
}

a:nth-child(1) {
	right: 50px;
}

a:hover {
	cursor: pointer;
}

img {
	height: 5vh;
}

.belt {
	top: 75%;
	left: 0;
	transform: translate(0, -50%);
	width: 100%;
	height: 15vh;
	background-color: rgba(84, 133, 243, .8);
}

h1 {
	top: 75%;
	left: 0;
	transform: translate(0, -50%);
	width: 100%;
	color: #2a3f83;
	height: 15vh;
	line-height: 15vh;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.8;
	animation: text 8s infinite linear both;
}

h1:nth-child(5) {
	animation-delay: 4s;
}

.burger {
	position: fixed;
	top: 20vh;
	left: 0;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid rgb(255, 174, 0);
	transition: .3s linear;
	z-index: 10;
}

.burger:hover {
	cursor: pointer;
}

header nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 35vw;
	height: 100vh;
	background-color: rgba(42, 63, 131, .8);
	transition: .3s linear;
	z-index: 10;
}

.off {
	left: -100%;
}

.close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	color: #fff;
	font-size: 2rem;
}

.close:hover {
	cursor: pointer;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	font-size: 2rem;
}

li {
	padding: 25px;
	padding-left: 30px;
}

li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	border-bottom: 2px solid rgb(255, 174, 0);
	color: #ccc;
}

#about,
#offer,
#photo,
#contact {
	min-height: 100vh;
	background-color: #f5f5f5;
}

/* about */
#about {
	position: relative;
	overflow: hidden;
}

.about_belt,
.more {
	width: 80%;
	background-color: #f5f5f5;
	text-align: justify;
	margin: 0 auto;
	padding-top: 10px;
}

#about p,
.more {
	color: rgb(42, 63, 131);
	font-size: 1.4em;
	padding: 10px;
}

.more {
	cursor: pointer;
}

.more_text {
	display: none;
}

.offText {
	display: none;
}

.onText {
	display: block;
}

/* photo */
#photo {
	background-image: url('../images/IMG_3059_mini.jpg');
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

/* offer */
#offer {
	display: flex;
	flex-direction: column;
}

.offer_text {
	text-align: center;
	flex: 1;
	font-size: 2.5em;
	color: rgb(42, 63, 131);
	text-transform: uppercase;
}

h3.offer_text {
	margin-top: 5px;
}

ul.offer_text li {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.2rem;
}

h3 a {
	color: rgb(42, 63, 131);
	text-decoration: none;
}

h4.offer_text {
	font-size: 1.5em;
}

#offer h3:nth-child(3) {
	color: rgb(255, 174, 0);
}

#offer h4 {
	margin-top: 20px;
	color: rgb(84, 133, 243);
}

/* contact */
#contact {
	display: flex;
	position: relative;
}

.title {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 2rem;
	text-transform: uppercase;
	color: rgb(42, 63, 131);
}

aside {
	width: 70%;
}

aside h3:nth-child(2) {
	margin-top: 20px;
}

#contact h3 {
	font-size: 2rem;
	text-transform: uppercase;
	padding-left: 40px;
	padding-top: 20px;
	color: rgb(42, 63, 131);
}

#contact p {
	font-size: 1.5rem;
	padding-left: 75px;
	padding-top: 5px;
	color: rgb(84, 133, 243);
}

.phone i,
.addres i,
.mail i {
	width: 20px;
	font-size: 1.5rem;
	padding-left: 50px;
	color: rgb(255, 174, 0);
}

.socialmedia i {
	font-size: 3rem;
}

#contact .socialmedia a {
	position: absolute;
	top: 10%;
	right: 5%;
	color: #4668b3;
}

#contact .socialmedia a:hover {
	color: #3557a2;
}

#contact .phone p,
#contact .addres p:nth-child(2),
#contact .mail a {
	display: inline-block;
	font-size: 1.5rem;
	padding-left: 22px;
	color: rgb(84, 133, 243);
}

#contact a {
	padding-top: 5px;
	text-decoration: none;
	color: rgb(84, 133, 243);
	cursor: pointer;
}



/* ==================== animation ================== */

@keyframes text {
	0% {
		transform: translate(100%, -50%);
	}

	2% {
		transform: translate(100%, -50%);
	}

	6% {
		transform: translate(0, -50%);
	}

	50% {
		transform: translate(0, -50%);
	}

	53% {
		transform: translate(-100%, -50%);
	}

	100% {
		transform: translate(-100%, -50%);
	}
}

/* ==================== media ========================= */

/* ==================== landscape ========================= */
@media screen and (min-width: 640px) {

	/* header */
	img {
		height: 4vh;
	}

	/* about */
	.about_belt,
	.more {
		width: 60%;
	}

	/* contact */
	#contact h3 {
		padding-left: 65px;
	}

	#contact p {
		padding-left: 95px;
	}

	.phone i,
	.addres i,
	.mail i {
		padding-left: 75px;
	}
}

@media screen and (min-width: 667px) {}

@media screen and (min-width: 730px) {

	/* header */

	img {
		height: 3vh;
	}
}

@media screen and (min-width: 812px) {

	/* header */
	header {
		background-size: 50%;
	}
}

@media screen and (min-width: 1024px) {

	/* header */
	.burger,
	.close {
		display: none;
	}

	.off {
		left: 0;
	}

	a {
		top: 120px;
	}

	a:nth-child(1) {
		right: 65px;
	}

	.logo {
		height: 65%;
	}

	img {
		height: 2vh;
	}

	header nav {
		width: 100vw;
		height: 10vh;
	}

	nav ul {
		flex-direction: row;
		align-items: center;
		height: 10vh;
		padding: 0 100px;
	}

	li {
		list-style-type: none;
	}

	/*about*/

	.first_paragraph {
		padding-top: 120px;
	}

	.more {
		display: none;
	}

	.more_text {
		display: block;
	}

	#about p {
		line-height: 3rem;
	}

	/* offer */
	h3.offer_text {
		margin-top: 120px;
	}

	#offer h3:nth-child(4),
	#offer div h3:nth-child(1) {
		margin-top: 0;
	}

	#offer div h3:nth-child(2) {
		margin-top: 20px;
	}

	ul.offer_text {
		margin-top: 100px;

	}

	ul.offer_text li {
		font-size: 1.5rem;
	}

	#offer h4 {
		margin-top: 50px;
	}

	/*photo*/
	#photo {
		min-height: 70vh;
	}

	/* contact */
	.title {
		top: 15%;
	}

	aside h3:nth-child(2) {
		margin-top: 130px;
	}

	#contact h3 {
		padding-left: 250px;
		padding-top: 60px;
	}

	#contact p {
		padding-left: 295px;
		padding-top: 15px;
	}

	.phone i,
	.addres i,
	.mail i {
		padding-left: 275px;
	}

	#contact .socialmedia a {
		top: 15%;
	}
}

@media screen and (min-width: 1440px) {

	/* header */
	.belt,
	h1 {
		top: 70%;
	}

	a {
		top: 120px;
		right: 0;
	}

	/* about */
	.about_belt {
		width: 65%;
	}

	.first_paragraph {
		padding-top: 150px;
	}

	/* offer */
	h3.offer_text {
		margin-top: 150px;
	}

	.offer_text {
		font-size: 3.5em;
	}

	/* contact */
	.title {
		font-size: 3.5em;
	}

	#contact h3 {
		font-size: 3em;
	}

	.phone i,
	.addres i,
	.mail i,
	#contact p,
	#contact .phone p,
	#contact .addres p:nth-child(2),
	#contact .mail a {
		font-size: 2em;
	}

	.socialmedia i {
		font-size: 4rem;
	}
}

@media screen and (min-width: 1680px) {

	/* header */
	a {
		top: 200px;
	}

	img {
		height: 1vh;
	}

	.logo {
		height: 55%;
	}

	/* about */
	.first_paragraph {
		padding-top: 200px;
	}

	/*offer*/
	ul.offer_text {
		margin-top: 200px;

	}
}

/* ==================== portrait ========================= */
@media screen and (orientation: portrait) {
	/*header*/

	header nav {
		width: 50vw;
	}

	h1 {
		font-size: 2.5rem;
	}

	.close {
		top: 1.5rem;
		right: 1.5rem;
	}

	ul {
		height: 80vh;
		margin-top: 5vh;
	}

	img {
		height: 3vh;
	}

	.logo {
		margin: 20% auto;
		height: auto;
		width: 100%
	}

	/* about */
	.about_belt,
	.more {
		width: 75%;
	}

	/* contact */
	#contact {
		flex-direction: column;
		min-height: 100vh;
	}

	aside {
		width: 100%;
	}

	#contact h3 {
		padding-top: 45px;
	}

	#contact p {
		padding-left: 75px;
	}

	aside h3:nth-child(2) {
		margin-top: 30px;
	}

	.phone i,
	.addres i,
	.mail i {
		padding-left: 50px;
	}

	#contact .socialmedia a {
		top: 85%;
		right: calc(50% - 13px);
	}
}

@media screen and (orientation: portrait) and (min-width: 360px) {

	/* header */
	img {
		height: 2vh;
	}

	/* about */
	.about_belt.showArticle {
		top: 5vh;
		left: 13vw;
	}

	/* offer */
	h3.offer_text {
		margin-top: 10px;
	}

	#offer h4 {
		margin-top: 50px;
	}

	/* contact */
	#contact h3 {
		padding-top: 65px;
	}
}

@media screen and (orientation: portrait) and (min-width: 760px) {

	/* header */
	img {
		height: 1.5vh;
	}

	a {
		top: 25px;
	}

	a:nth-child(1) {
		right: 60px;
	}

	header nav {
		width: 40vw;
	}

	h1 {
		font-size: 5rem;
	}

	ul {
		font-size: 3rem;
	}

	li {
		padding-left: 55px;
	}

	/* about */
	#about p {
		font-size: 2em;
		padding-top: 30px;
	}

	/* offer */
	ul.offer_text li {
		font-size: 1.6rem;
	}

	h3.offer_text {
		margin-top: 25px;
	}

	#offer h3:nth-child(3) {
		font-size: 3.5em;
	}

	/* contact */
	.title {
		top: 7%;
		font-size: 3rem;
	}

	#contact h3 {
		margin-top: 50px;
		padding-top: 100px;
		padding-left: 130px;
		font-size: 3rem;
	}

	.phone i,
	.addres i,
	.mail i {
		padding-left: 160px;
		font-size: 2.5rem;
	}

	#contact p {
		padding-top: 10px;
		padding-left: 200px;
		font-size: 2.5rem;
	}

	#contact .phone p,
	#contact .addres p:nth-child(2),
	#contact .mail a {
		font-size: 2.5rem;
		padding-left: 40px;
	}

	.socialmedia i {
		font-size: 4rem;
	}

	#contact .socialmedia a {
		right: calc(50% - 17.5px);
	}

}

@media screen and (orientation: portrait) and (min-width: 1024px) {

	/* header */
	a {
		top: 155px;
	}

	header nav {
		width: 100vw;
	}

	ul {
		margin-top: 0;
	}

	/* about */
	#about p {
		font-size: 2.5em;
	}

	.about_belt.showArticle {
		top: 20vh;
	}

	/* offer */
	h3.offer_text {
		margin-top: 200px;
	}

	#offer h3:nth-child(3) {
		margin-top: -100px;
		font-size: 3.5em;
	}

	#offer h3:nth-child(4) {
		margin-top: 0;
		font-size: 3.5em;
	}

	/* contact */
	.title {
		top: 15%;
	}

	#contact h3 {
		margin-top: 50px;
	}

	#contact p {
		padding-top: 15px;
	}

	#contact h3:nth-child(2) {
		margin-top: 200px;
	}

	#contact .socialmedia a {
		top: 90%;
	}

}